# MacOS
*.DS_Store

# Jekyll
Gemfile.lock
_site

# Python
*.ipynb_checkpoints
__pycache__

# Resources
resources/**/*.jpg
resources/**/*.py

# Quarto
resources/**/*_files
resources/**/*.html

# Node
node_modules
package-lock.json
package.json

# DrawIO
*.drawio.bkp
*.drawio.bkp
*.drawio.dtmp
