-r ../resources/2022_simons-institute/slides/requirements.txt
-r ../resources/2022_RMIT-lectorial/slides/requirements.txt
-r ../resources/2021_ADMS/slides/requirements.txt
-r ../resources/2021_EURO-explainability/slides/requirements.txt
-r ../resources/2021_TAILOR-WP3/slides/requirements.txt
-r ../resources/2021_TURING-AI-UK/slides/requirements.txt
